---
import StudyGroup from "../components/StudyGroup.astro";
import WorksGroup from "../components/WorksGroup.astro";
import { Studies } from "../data/database";
---

<div class="bg-white dark:bg-[#1B2731] relative">
  <section
    id="whoami"
    class="py-11 md:pt-16 lg:pt-20 px-4 sm:px-8 md:px-20 max-w-7xl mx-auto lg:min-h-[768px]"
  >
    <div class="text-center">
      <p class="double-underline text-3xl leading-9 flex items-center">  
       
        Experiencia laboral
      </p>
    </div>

    <div class="xl:grid md:grid-auto grid-rows-6 lg:grid-rows-6 grid-cols-5">
      <div
        class="col-start-1 col-end-3 row-start-1 row-end-4 lg:row-end-7 
        lg:col-start-1 lg:col-end-3 flex justify-center mt-20 py-4 lg:mb-[20%]"
      >
        <div class="relative w-72">
          <svg
            width="96"
            height="21"
            viewBox="0 0 96 21"
            aria-hidden="true"
            class="img-svg hidden lg:block fill-marrsgreen dark:fill-carrigreen absolute -top-14 -left-14"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M79.2202 0.959991L62.7802 17.32L46.3301 0.959991L29.8902 17.32L13.4501 0.959991L0.410156 13.94L0.400146 17.58L13.4501 4.58999L29.8902 20.95L46.3301 4.58999L62.7802 20.95L79.2202 4.58999L93.7302 19.02L95.5402 17.19L79.2202 0.959991Z"
            ></path>
          </svg>

          <div
            class="profile-picture overflow-hidden md:overflow-visible rounded-md md:shadow-2xl"
          >
            <img
              src="/insta.jpg"
              width={5000}
              height={5000}
              alt="Keiver PAcheco Profile"
              class="rounded-md"
            />
          </div>

          <svg
            width="15"
            height="14"
            viewBox="0 0 15 14"
            aria-hidden="true"
            class="img-svg hidden lg:block fill-marrsgreen dark:fill-carrigreen absolute bottom-8 -right-12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.68 11.51L9.23 7.05998L13.68 2.61C14.24 2.05 14.24 1.12999 13.68 0.569994C13.12 0.00999391 12.2 0.00999391 11.64 0.569994L7.19002 5.02001L2.74001 0.569994C2.18001 0.00999391 1.26003 0.00999391 0.700029 0.569994C0.140029 1.12999 0.140029 2.05 0.700029 2.61L5.15004 7.05998L0.700029 11.51C0.140029 12.07 0.140029 12.99 0.700029 13.55C1.26003 14.11 2.18001 14.11 2.74001 13.55L7.19002 9.09999L11.64 13.55C12.2 14.11 13.12 14.11 13.68 13.55C14.24 12.99 14.24 12.08 13.68 11.51Z"
            ></path>
          </svg>
        </div>
      </div>

      <div
        class="col-start-3 mt-5 col-end-6 row-start-4 row-end-6 lg:row-start-1 lg:row-end- md:ml-8"
      >
      
        <WorksGroup />
       <!--  {
          Studies.map((studie, index) => {
            return (
              <StudyGroup
                key={index}
                title={studie.title}
                academy={studie.academy}
                year={studie.year}
              />
            );
          })
        } -->
      </div>
    </div>

  </section>
</div>

<style>
  .double-underline {
    position: relative;
    display: inline-block;
  }

  .double-underline::before,
  .double-underline::after {
    content: "";
    transform: rotate(-5deg);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -12px; /* Ajusta la distancia entre las líneas */
    height: 2px; /* Grosor de las líneas */
    background-color: #05ce91; /* Color del subrayado */
  }

  .double-underline::before {
    transform: translateY(-5px) rotate(5deg); /* Desplaza la primera línea hacia arriba */
  }
</style>
