---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/Experience.astro";
import Project from "../components/Project.astro";
---

<Layout title="Portafolio Keiv">
  <main>
    <Header />
    <About />
    <Project/>
  </main>
</Layout>
