---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Header from "./header.astro";
---

<Layout title="Portafolio Keiv">
  <main>
    <Navbar />
    <Header />
  </main>
</Layout>
